*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.App {
  text-align: center;
  
}

.SectionApp{
  padding-top: 100px;
}

.App-header {
  position: relative;
  top: 0; left: 0;
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  background-image: url('./background_img.jpg'); 
  color: white;
  width: 100%;
  height: 1000px;
}

.App-title {
  font-size: 1.5em;
  
}

.App-intro {
  font-size: large;
}

.WhiteLink{
  color: white;
  font-size: 18px;
}


input{
  width: 70%;
}

.forBlocks{
  float: left;
}

.block1{
  width: 49.5%;
}

.block2{
  width: 49.5%;
}
.forSpan{
  padding-left: 1px!important;
}

table{
  border-collapse: collapse;
}

th{
  border: 1px solid white;
  padding: 3px;
  text-align: center;
}

td{
  border: 1px solid white;
  padding: 3px;
  text-align: center;
}

input{
  width: 50%;
}

.infoBlock{
  margin-bottom: 30px;
  align-items: center;
  /* width: 400px; */
  /* position: relative; */
}

/* .infoBlock>div{
  position: absolute;
} */

/* p{
  background-color: rgb(197, 240, 228);
  width: 400px;
  margin-left: 0px! important;
} */
